doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    title React boiler plate
    meta(name='description', content='React boiler plate')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body.toggled.sw-toggled
    #App
  script(async src='#{bundleSrc}')
